[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Tigerstop
Icon=/home/pi/Pictures/Tigerstop_logo.jpeg
Exec=python3 /home/pi/Desktop/Python/Tigerstop_dev.py
Terminal=False